@media only screen and (max-width: 600px){
    .nav__navbar{
        display:none;
    }
    .Main__nav{
        visibility: visible;
        display: block;
    }
    .Phone__nav{
        width:40%;
        display:flex;
        position: absolute;
        right:0;
        // background:#ecf0f1;
        background:white;
        top:0;
        display: block;
        
    }

}
.MainD-v__here{
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    width:100%;
    margin-top:50px;
    z-index:200;
    position: relative;
}

